body {
  padding-top: 50px;
}
/*.starter-template {
  padding: 40px 15px;
  text-align: center;
}*/

#hero {
	width: 150px;
	height: 150px;
}

#welcome {
	padding-top: 0px;
	text-align: center;
}

#linkedIn > img {
	border: 0px;
	position: absolute;
	top: 8`px;
	margin: auto;
}
