body {
  padding-top: 50px;
}

#hero {
	width: 150px;
	height: 150px;
}

#welcome {
	padding-top: 0px;
	text-align: center;
}

#linkedIn > img {
	border: 0px;
	position: absolute;
	top: 8`px;
	margin: auto;
}

.future-1, .future-2 {
	margin-right: 10px;
	padding-top: 5px;
}

.panel-vignette {
	display: inline-block;
}

.btn-vignette {
  width:          300px;
  margin-bottom:  5px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "open" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
